*{
    padding:0;
margin: 0;
}

:root{
--bg-color:#222;
--b-l-text:#62C9F7;
--b-m-text:#1E8CC1;
--b-h-text:#16528D;
--g-l-text:#666;
--g-m-text:#444;
--g-h-text:#333;
--w-color:#fff;
}
body{
    height: 100vh;
background-color: #333;
    animation:fade-in 0.5s ease-in-out;
z-index: 1;
position: absolute;
}
@keyframes fade-in{   
    0%{opacity: 0;}
    100%{opacity:1;}
}
.sh-bdy{
         background-image:linear-gradient(to top ,#333 50%,#555);

}



         /* nav section */

.nav{
    height: 150px;
    overflow:hidden;
    display: flex;
    justify-content:flex-start;
    row-gap: 100px;
    align-items: center;
    top: 0;
}
.hm{
    margin-left: 20px;
width: 30px;
height:30px;
animation:smani 2s ease-in-out infinite;
}
@keyframes smani{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.logo{
    width:100px;
    height: 100px;
    margin-left:25vw;
}
/* heading */
.mhm{
    color: var(--b-l-text);
    justify-content: center;
    width: 100%;
    height: 30px;
    display: flex;
    font-family: sans-serif;
margin-top:20px;
}
       /* main section */
.main-cont{
    width:90%;
    height:450px;
    margin-left: 5%;
    margin-top: 40px;
    background-color:#555;
    border:2px solid #fff;
    border-radius:15px;
    gap:10px; 
    overflow-y: auto;
}
table{
    margin:20px 10% 10px;
}
th,td{
padding: 5px;
font-size: 1.4rem;
    color:#FFf;
    border:1px solid #fff;
}
.hd{
    color:#c3ddfa;
    width:200px;
    text-overflow:ellipsis;
    margin:20px 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    font-family:sans-serif;
}
.hd-bx{
    width:350px;
    text-overflow: ellipsis;
}

.pr{
width:100%;
margin-left:10%;
font-size: 1.3rem;
font-family: arial;
word-spacing: 3px ;
line-height: 25px;
color:#fff;
line-height: 40px;
}


.ft{
    width: 90%;
    margin-left:5%;
    margin-top:18vh;
   height:40px;
   background-color: #c3ddfa;
   border-radius: 5px;
display: flex;
justify-content: space-around;
align-items: center;
}
.dv-nm{
    color: blue;
    font-size: 0.9rem;
    font-family: math;
}
.tk{
    padding:3px 6px;
    background-color: #000;
 border:2px solid #000;
    color: #ffff;
    border-radius: 5px;
    text-decoration: none;
    font-family:sans-serif;
animation:tkani 5s ease-in-out infinite;
}
.tk:hover{
animation-play-state: paused;
}
@keyframes tkani{
   0%{background-color: #000;}
   15%{background-color:blue;} 
   30%{background-color: red;}
   45%{background-color: yellow;}
   60%{background-color: green;}
   75%{background-color: black;}
}
.gt-tk{
    width: 100vw;
    height: 100vh;
    background-color: #444;
position: relative;
z-index: 2;
bottom:100vh;
left:-120vw;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
animation:goto 5s ease-in-out ;
animation-play-state: running;
}

@keyframes goto{
0%{opacity: 0;
    font-size:18px;}
50%{
opacity: 1;
    font-size: 25px;}
100%{
    font-size: 18px;}
}