@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
	padding: 0;
    margin:0;
}
:root{
--bg-color:#222;
--b-l-text:#47d4ff;
--b-m-text:#0b74b5;
--b-h-text:#0666a1;
--g-l-text:#666;
--g-m-text:#444;
--g-h-text:#333;
--w-color:#fff;
}
.body{
	width:100vw;
	height:100vh;
}
body{
	width:100vw;
	height:100vh;
	background-color:var(--bg-color);
}
      /*Header section*/
.head{
	grid-area: 1/1;
padding:10px;
overflow: hidden;
height: 10%;
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.web-logo{
	/*filter:hue-rotate(-10deg);*/
	width:50px;
	height:50px;
animation:lg 3s ease-in-out infinite;
}
@keyframes lg{
	0%{transform:rotateY(0deg)}
	100%{transform:rotateY(360deg);}
	}

.web-logo:hover{
	animation-play-state: paused;
}
.btn-box{
	padding:7px 15px;
	border-radius:5px;
	display: flex;
	outline:2px solid #fff;
	gap:30px;
	background-color: var(--g-m-text);
	animation:btnbx 4s ease-in infinite;
}
@keyframes btnbx{
	0%{outline:1px solid transparent;}
	50%{
		box-shadow:0px 0px 10px var(--b-m-text);
		outline:1px solid var(--b-l-text);
	}
	100%{outline:1px solid transparent;}
}
.btn-box:hover{
	animation-play-state: paused;
}

.btn-n{
	font-family: arial;
	text-decoration: none;
color: var(--b-l-text);
}

.heading-web{
margin-top:40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1-web{
	color:var(--star-active);
	letter-spacing: 2px;
	font-family: 'Bebas Neue',sans-serif;
/*-webkit-text-stroke:2px solid orange;*/
-webkit-text-stroke-width: 0.3px; /* The width of the stroke */
  /*-webkit-text-stroke-color: var(--b-h-text); /* The color of the stroke */
  /*color:; */
   font-size:2rem;

}
       /*main cont*/
.main-cont{
	opacity: 80%;
			grid-area: 2/1;
	width:300px;
	height:550px;
	padding:10px;
	background-color: var(--g-m-text);
	margin:10% auto;
	border-radius: 10px;
	display: grid;
	grid-template-columns:10% 80% 10%;
	grid-template-rows:2% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	gap:10px;
	justify-content: center;
	align-items: center;
    transition:0.3s ease-in-out;
}
.main-cont:hover{opacity:100%;}
.main-h{
	font-family: arial;
	weight:800;
	color:#000;
	grid-area:2/2;
	color: var(--w-color);
}
.box{
	text-decoration: none;
	font-family: arial;
	color:;
	padding:10px;
	align-items: center;
	background-color: var(--b-h-text);
	color: var(--w-color);
	width:200px;
	border-radius: 5px;
}
.box1{
	grid-area: 3/2;
}.box2{
	grid-area: 4/2;
}.box3{
	grid-area: 5/2;
}.box4{
	grid-area: 6/2;
}.box5{
	grid-area: 7/2;
}.box6{
	grid-area: 8/2;
}.box7{
	grid-area: 9/2;
}
.hd{
	padding-top:10px;
    color:var(--b-l-text);
    width:200px;
    letter-spacing:2px;
    text-overflow:ellipsis;
    margin:10px 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.4rem;
  text-overflow: ellipsis;
    font-family:sans-serif;
}
.learn-btn{
	padding:7px 5px;
	background-color:transparent;
	color:var(--w-color);
	font-family: monospace;
	font-size: 0.9rem;
	border-radius: 10px;
    outline:1px solid var(--b-m-text);
    border: none;
margin-left: 5%;
margin-top: 5%;
transition: 0.3s ease-in-out;
animation:shlr 3s ease-in-out infinite;
box-shadow: 0px 0px 8px var(--b-m-text);
}
@keyframes shlr{
	0%{box-shadow: 0px 0px 8px var(--b-m-text);}
	10%{box-shadow: 0px 2px 8px var(--b-m-text);}
	20%{box-shadow: -4px 2px 8px var(--b-m-text);}
	30%{box-shadow: 0px -2px 8px var(--b-m-text);}
	40%{box-shadow: 0px 0px 8px var(--b-m-text);}	0%{box-shadow: 0px 0px 8px var(--b-m-text);}
	50%{box-shadow: 0px -2px 8px var(--b-m-text);}
	60%{box-shadow: 4px -2px 8px var(--b-m-text);}
	70%{box-shadow: 0px 2px 8px var(--b-m-text);}
	100%{box-shadow: 0px 0px 8px var(--b-m-text);}
}

.learn-btn:hover{
animation-fill-mode: forwards;
transform: scale(1.2);
opacity:10%;
margin-left:10%;
}
.pr{
width:87%;
margin-left:4%;
font-size: 1.1rem;
font-family: sans-serif;
word-spacing: 3px;
padding:10px;
line-height: 25px;
color:#fff;
}
.info{
	/*box-shadow:inset 0px 0px 10px var(--b-h-text);*/
	width:100%;
	/*height:300px;*/
	outline:2px solid var(--b-l-text);
border-radius:10px;

}
.sub-info{
border-radius:10px;
	width:80%;
		/*margin-left:%;*/
	/*box-shadow: 0px 0px 10px var(--b-l-text);*/
}
.info,.sub-info{
	transition:0.4s ease-in-out;
} 
.ads{
	width:0px;
	height:0px;
	overflow:hidden;
}
      /*footer section*/
.body-section2{
	display: flex;
	flex-flow:column;
	justify-content: center;
	gap:20px;
	align-items: center;
}:root {
      --bg-box: #333;
      --bg-l-box: #555;
      --primary-blue:#3a71fc;
      --light-blue:#0544e3;
      --star-active: gold;
      --star-none: #eee;
      --text-white: #fff;
      --btn-bg: #ddd;
    }
::-webkit-input-placeholder{
  color:var(--text-white);
}
    .feedback-box {
    	margin-right:6%;
      background-color: var(--bg-box);
      display: flex;
      flex-flow: column;
      align-content: center;
      justify-content: center;
      width: 250px;
      padding: 15px;
      border-radius: 10px;
    }

    .form1 {
    	width:100%;
    	height:100%;
      display: flex;
      gap: 10px;
      flex-flow: column;
    }

    .fe {
      width: 220px;
      margin-top: 20px;
      margin-left: 5%;
    }

     .e-fed{
      border: 1px solid #333;
      color: var(--text-white);
      margin-top: 10px;
      background-color: var(--bg-l-box);
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
    }
    .e-fed:focus {
      border:1px solid var(--primary-blue);
      outline: none;
    }
 .u-fed{   
      border:none;
      width:0px;
      height:0px;
      padding:0px;
      /*overflow:hidden;*/
    }
   /* Textarea Section (Feedback) */
    .feedback {
      letter-spacing: 0.2rem;
      border: none;
      width: 100%;
      height: 100px;
      background-color: var(--bg-l-box);
      color: var(--text-white); /* Dark text for readability */
      padding: 10px;
      font-family: sans-serif;
      border-radius: 10px;
      margin-top: 10px;
      box-sizing: border-box;
      border:1px solid var(--bg-box);
    }

    .feedback::-webkit-input-placeholder {
      color: #fff;
      opacity: 80%;
    }
  .feedback:focus{
      border:1px solid var(--primary-blue);
      outline: none;
    
  }
  

    .sub-btn{
      width: 100px;
      height: 30px;
      /*color: var(--text-white);*/
      color:var(--bg-box);
      border-radius: 5px;
      /*background-color: var(--btn-bg);*/
      border: none;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      margin-top: 10px;
    }

    .submit-btn:hover {
      background-color: var(--primary-blue);
          color: var(--text-white);

    }
    .rate-label{
      font-size: 1.3rem;
      font-weight: 100;
    font-family:cursive;
    color:var(--star-active);
    }

    .star-container {
      font-size: 30px;
      cursor: pointer;
      text-align: center;
      margin-top: 5px;
    }

    .star {
      color: var(--star-none);
      transition: color 0.2s;
    }

    .star.active {
      color: var(--star-active);
    }
.ft{
	font-size: 0.8rem;
		grid-area: 3/1;
	height:80px;
	width:90%;
margin:10px 5%;
	background-color: var(--b-h-text);
	color: var(--w-color);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top:30px;
}     
.channel{
	background-color: red;
	color: var(--w-color);
padding:5px 10px;
border:2px solid #ab0909;
border-radius: 5px;
	text-decoration: none;
	animation:ch 5s ease-in-out infinite;
}
@keyframes ch{
	0%{transform: scale(1.0);}
	50%{transform: scale(105%);}
	100%{transform: scale(1.0);}

}
.gt-tk{
	position: fixed;
    width: 100vw;
    /*height: 180vh;*/
    background-color: #444;
position: relative;
z-index: 2;
bottom:160vh;
left:-120vw;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
animation:goto 5s ease-in-out infinite;
animation-play-state: running;
	 -webkit-text-stroke-width: 1px;
}
.gt-p{
	/*font-size:45px;*/
 font-weight: 800;
}

@keyframes goto{
0%{
    -webkit-text-stroke-color: #fff;
  color:#fff;
}
50%{
    -webkit-text-stroke-color: black;
color:orange;
    }
100%{
    -webkit-text-stroke-color: #fff;
    color:#fff;
}
        .sign-body {
            fill: #FFD700; /* Gold/Yellow */
            stroke: #FFA500; /* Orange */
            stroke-width: 5;
        }
        .sign-text {
            font-family: 'Arial', sans-serif;
            font-size: 24px;
            font-weight: bold;
            fill: #333; /* Dark gray for contrast */
            text-anchor: middle;
        }