@media screen and (min-width: 850px){
	.web-logo{
		width:60px;
		height: 60px;
	}
	.btn-box{
		padding:10px 15px;
	width:400px;
	display: flex;
	justify-content: space-around;
	}
	.body-section1{
		gap:0px;
		display: flex;
		justify-content:center;
		align-items: center;
	}
	.sub-info{
		position: relative;
		right:;
		margin-left: 6%px;
		width:500px;
	}
	.main-cont{
		position: relative;
		right:50px;
		/*margin-right: -100p;*/
		width:350px;
margin:5% 0px;
	}
	.box{
		
		width:250px;
	}
.ads{
        border-radius: 10px;
        border:5px solid #333;
        display: flex;
    flex-direction: row;      /* ya column */
    width: 400px;             /* ek box jitni width */
    height: 400px;
    overflow-x: hidden;         /* horizontal scroll */
    overflow-y: hidden;
    }
    .ad{
        text-align: center;
        width:400px;
        flex-shrink: 0;
        height: 400px;
        /*border:1px solid #000;*/
        box-sizing: border-box;
        background-color: lightcoral;
    }
    .scroll-track{
    transition: 0.3s ease-in-out;
        display: flex;
        /*animation:scrollads 20s ease-in-out;*/
    }

.body-section2{
	align-items: center;
	flex-flow: row;
}    :root {
      --bg-box: #333;
      --bg-l-box: #555;
      --primary-blue:#3a71fc;
      --light-blue:#0544e3;
      --star-active: gold;
      --star-none: #eee;
      --text-white: #fff;
      --btn-bg: #ddd;
    }
::-webkit-input-placeholder{
  color:var(--text-white);
}
    .feedback-box {
    	margin-right:6%;
      background-color: var(--bg-box);
      display: flex;
      flex-flow: column;
      align-content: center;
      justify-content: center;
      width: 250px;
      padding: 15px;
      border-radius: 10px;
    }

    .form1 {
    	width:100%;
    	height:100%;
      display: flex;
      gap: 10px;
      flex-flow: column;
    }

    .fe {
      width: 220px;
      margin-top: 20px;
      margin-left: 5%;
    }

     .e-fed{
      border: 1px solid #333;
      color: var(--text-white);
      margin-top: 10px;
      background-color: var(--bg-l-box);
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
    }
    .e-fed:focus {
      border:1px solid var(--primary-blue);
      outline: none;
    }
 .u-fed{   
      border:none;
      width:0px;
      height:0px;
      padding:0px;
      /*overflow:hidden;*/
    }
   /* Textarea Section (Feedback) */
    .feedback {
      letter-spacing: 0.2rem;
      border: none;
      width: 100%;
      height: 100px;
      background-color: var(--bg-l-box);
      color: var(--text-white); /* Dark text for readability */
      padding: 10px;
      font-family: sans-serif;
      border-radius: 10px;
      margin-top: 10px;
      box-sizing: border-box;
      border:1px solid var(--bg-box);
    }

    .feedback::-webkit-input-placeholder {
      color: #fff;
      opacity: 80%;
    }
  .feedback:focus{
      border:1px solid var(--primary-blue);
      outline: none;
    
  }
  

    .sub-btn{
      width: 100px;
      height: 30px;
      /*color: var(--text-white);*/
      color:var(--bg-box);
      border-radius: 5px;
      /*background-color: var(--btn-bg);*/
      border: none;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      margin-top: 10px;
    }

    .submit-btn:hover {
      background-color: var(--primary-blue);
          color: var(--text-white);

    }
    .rate-label{
      font-size: 1.3rem;
      font-weight: 100;
    font-family:cursive;
    color:var(--star-active);
    }

    .star-container {
      font-size: 30px;
      cursor: pointer;
      text-align: center;
      margin-top: 5px;
    }

    .star {
      color: var(--star-none);
      transition: color 0.2s;
    }

    .star.active {
      color: var(--star-active);
    }
	.ft{
		justify-content: space-around;
		height:40px;
		margin:0px 0px;
		width:100%;
	}
}
@media screen and (min-width:1350px){
	.body{
		margin:auto;
		width:1024px;
		height:100%;
	}
}